<div class="bg-slate-900 text-white text-center text-4xl py-4 lora mb-2 ">
  YASHOPURAM VASANT ANNUAL POOJA 2026
</div>

<div class="lg:grid grid-cols-3 gap-2 text-center mb-2">
  <div class="bg-slate-900 text-white lg:py-4 py-5 lg:m-0 m-2 lora text-2xl lg:rounded-lg text-slate-900">
    <p>Total Participants</p>
    <p class="text-4xl font-bold">{{ totalParticipants }}</p>
  </div>
  <div class="bg-slate-900 text-white py-4 lg:py-4 py-5 lg:m-0 m-2 lora text-2xl lg:rounded-lg text-slate-900">
    <p>Total Games Entries</p>
    <p class="text-4xl font-bold">{{ totalGameEntries }}</p>
  </div>
  <div class="bg-slate-900 text-white py-4 lg:py-4 py-5 lg:m-0 m-2 lora text-2xl lg:rounded-lg text-slate-900">
    <p>Total Events Entries</p>
    <p class="text-4xl  font-bold">{{ totalEventEntries }}</p>
  </div>
</div>

<div class="bg-slate-800 text-white p-2 lg:p-5 rounded-lg overflow-y-auto max-h-[80vh]">
  <div class="mb-6">
    <input type="file" (change)="onFileUpload($event)" class="bg-slate-700 p-2 rounded border border-slate-600">
    <p class="text-sm text-slate-400 mt-1">Processed: {{ totalParticipants }}</p>
  </div>

  <div class="bg-slate-800 text-white lg:p-5 rounded-lg">
  <div class="mb-10 p-4 border border-slate-700 rounded-lg">
    <p class="text-purple-400 text-xl font-bold mb-4">Female Games Category</p>
    <div style="height: 300px;"><canvas id="femaleChart"></canvas></div>
  </div>

  <div class="mb-10 lg:p-4 p-2 border border-slate-700 rounded-lg">
    <p class="text-blue-400 text-xl font-bold mb-4">Male Games Category</p>
    <div style="height: 300px;"><canvas id="maleChart"></canvas></div>
  </div>

  <div class="mb-10 lg:p-4 p-2 border border-slate-700 rounded-lg">
    <p class="text-yellow-400 text-xl font-bold mb-4">Kids Games Category</p>
    <div style="height: 300px;"><canvas id="childrenChart"></canvas></div>
  </div>

  <div class="mb-10 lg:p-4 p-2 border border-slate-700 rounded-lg">
    <p class="text-emerald-400 text-xl font-bold mb-4">Overall Activities</p>
    <div style="height: 300px;"><canvas id="activityChart"></canvas></div>
  </div>
</div>